.profile{
    margin: 0;
    
    font-family: 'Inter', sans-serif;
    color: #161819;
    

    .photo-profile{
        background-image: url("../assets/Perfil.jpg");
        background-size: cover;
        
        justify-content: center;
        background-position-x: 35%;
        background-repeat: no-repeat;
        
        margin-left: auto;
        margin-top: 2%;
        margin-right: auto;
        
        height: 270px;
        width: 270px;
        
        border-radius: 50%;
        box-shadow:  02px 02px 08px -1px;
    }

    h1{
        text-align: center;
        font-size: 90px;

        margin-top:10px;
    }
    h2{
        text-align: center;
        font-weight: 100;
        font-size: 35px;

        margin-top: -50px;
    }
    p{
        font-size: 26px;
        display: flex;
            flex-wrap: wrap;
            margin-left: 25%;
            text-align: left;
            margin-right: 25%;

    }
    .about{
        padding: 50px 0;
        margin-top: 30px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        color: #161819;
        
    }
   
}

