
.projects-h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #161819;
    
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -2%;
}
.separator{
    font-size: 10px;
    color: #a8a8b3;

    margin: 32px 0;
    margin-top: 60px;
    display: flex;
    align-items: center;

    &::before{
        content: '';
        flex: 1;
        
        height: 0.3px;
        background:#a8a8b3;
        
        margin-right: 16px;
    }

    &::after{
        content: '';
        flex: 1;
        
        height: 0.3px;
        background:#a8a8b3;
        
        margin-left: 16px;
    }
    img{
        width:9rem;
    }
}