
.projects-h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #161819;
    
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -2%;
}
